* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 30%;
  height: 100vh;
  background-image: url(/images/bg-main-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img1 {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  background-image: url(/images/bg-card-front.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 10rem;
  top: 5rem;
}
.inner {
  display: flex;
}
.profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-top: 6px;
  margin-left: 20px;
  background-color: aliceblue;
}
.img1 #hi {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-top: 15px;
  margin-left: 10px;
  border: 1px solid white;
}
.heading {
  justify-content: center;
  color: aliceblue;
  margin-top: 6rem;
}
.heading h1 {
    margin-left: 3rem;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}
.name {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.name h1 {
  font-size: 15px;
  color: aliceblue;
  margin-left: 15px;
}
.name p {
  color: aliceblue;
}
.img2 {
  width: 100%;
  height: 35vh;
  border-radius: 10px;
  background-image: url(/images/bg-card-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 16rem;
  top: 22rem;
}
.item {
  width: 80%;
  height: 5vh;
  align-items: center;
  position: absolute;
  top: 6rem;
  left: 2.9rem;
  text-align: end;
}
.item p {
  margin-top: 7px;
  margin-right: 5px;
  color: aliceblue;
  font-size: 21px;
}
.right {
  width: 70%;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}
form {
  width: 40%;
  height: 50vh;
  margin-top: 9rem;
  margin-left: 25rem;
}
label {
  font-size: 17px;
  color: hsl(278, 68%, 11%);
}
input[type="text"] {
  width: 90%;
  height: 5vh;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid hsl(279, 6%, 55%);
}
input:focus{
    border: none;
}
.contain {
    width: 100%;
  display: flex;
}
span {
  display: flex;
  column-gap: 8px;
}
.carry{
    width: 55%;
}
.side{
    width: 50%;
}
.side input[type="text"] {
    width: 80%;
    height: 5vh;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid grey;
  }
input[type="number"] {
  width: 35%;
  height: 5vh;
  padding-left: 9px;
  border-radius: 5px;
  column-gap: 15px;
  border: 1px solid hsl(279, 6%, 55%);
}
button{
    width: 95%;
    height: 6vh;
    background-color: hsl(278, 68%, 11%);
    color: aliceblue;
    border-radius: 5px;
    margin-top: 2rem;
}

@media only screen and (max-width: 950px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 60%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 7rem;
    top: 10.3rem;
    z-index: 1;
  }
  .img2 {
    width: 60%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 12rem;
    top: 2rem;
  }
  form {
    width: 60%;
    height: 50vh;
    margin-top: 6rem;
    margin-left: 12rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 60%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 7rem;
    top: 10.3rem;
    z-index: 1;
  }
  .img2 {
    width: 60%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 12rem;
    top: 2rem;
  }
  form {
    width: 60%;
    height: 50vh;
    margin-top: 6rem;
    margin-left: 10rem;
  }
}
@media only screen and (max-width: 530px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 80%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 1rem;
    top: 10.3rem;
    z-index: 1;
  }
  .img2 {
    width: 80%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 5rem;
    top: 2rem;
  }
  form {
    width: 80%;
    height: 50vh;
    margin-top: 6rem;
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 459px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 80%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 1rem;
    top: 10.3rem;
    z-index: 1;
  }
  .img2 {
    width: 80%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 5rem;
    top: 2rem;
  }
  .heading h1 {
    font-size: 29px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
  form {
    width: 80%;
    height: 50vh;
    margin-top: 6em;
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 90%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: .4rem;
    top: 10.3rem;
    z-index: 1;
  }
  .heading h1 {
    font-size: 29px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
  .img2 {
    width: 90%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 1.8rem;
    top: 2rem;
  }
  form {
    width: 90%;
    height: 50vh;
    margin-top: 6rem;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 320px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 95%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: .4rem;
    top: 10.3rem;
    z-index: 1;
  }
  .heading h1 {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
  .img2 {
    width: 96%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: .4rem;
    top: 2rem;
  }
  form {
    width: 90%;
    height: 50vh;
    margin-top: 6rem;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  
  .left{
    width: 100%;
    height: 50vh;
  }
  .right {
    width: 100%;
    height: 50vh;
  }
  .img1 {
    width: 95%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: .4rem;
    top: 10.3rem;
    z-index: 1;
  }
  .heading h1 {
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
  .img2 {
    width: 96%;
    height: 35vh;
    border-radius: 10px;
    background-image: url(/images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: .4rem;
    top: 2rem;
  }
  form {
    width: 90%;
    height: 50vh;
    margin-top: 6rem;
  }
}